.destaques{
    display:grid;
    grid-template-columns: 25% 25% 25% 24.5%;
    grid-template-rows: 33% 33% 33%;
    /* Use calc() to calculate the width of a <div> element */
    height: calc(100vh - 50px);
    gap: .2rem; /* Establecer el espacio entre filas y columnas */
}

.destaques__principal{
    background: url("../../imagenes/Videojuegos/persona5royal2.jpg") center / cover no-repeat;
    /* Con la línea de arriba ahorramos el código de abajo */

    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */

    grid-column: 1 / 4;     /* Informamos 4 para las columnas y 3 para las filas ya que ambas son exclusivas. */
    grid-row: 1 / 3;

    /* Con la línea de arriba ahorramos el código de abajo */

    /* grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1 ;
    grid-row-end: 3; */
}

.destaques__secundario:nth-child(2){ /* Colocamos eso porque solo aplicaremos a un hijo */
    background: url("../../imagenes/Videojuegos/EldenRing.jpeg") center / cover  no-repeat;
    /* background-size: cover; /* Cubre todo el background 
    background-position: center;
    background-repeat: no-repeat; */

    grid-column: 4 / 5;
    grid-row: 1 / 2;

    /* grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1 ;
    grid-row-end: 2; */
}

.destaques__secundario:nth-child(3){
    background: url("../../imagenes/Videojuegos/RedDeadRedemption2.jpeg") center / cover  no-repeat;

    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.destaques__secundario:nth-child(4){
    background: url("../../imagenes/Videojuegos/TLoZTearsOfTheKingdom.jpg") center / cover  no-repeat;

    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.destaques__secundario:nth-child(5){
    background: url("../../imagenes/Videojuegos/Baldur_sGate3.jpg") center / cover no-repeat ;

    grid-column: 3 / 4;
    grid-row: 3/4;

}

.destaques__categorias{
    grid-column: 1/3;
    grid-row: 3/4;
}

.destaques__categorias___lista{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}

.destaques__categorias___item{
    align-items: center;
    background: #fdfdfd;
    display: flex;          /* Esta parte nos sirve para poder ocupar el aling-item */
    color: #333333;
    width: 50%;
    padding: 1rem;
}

.destaques__categorias___link{
    color: inherit;     /* La palabra clave de inherit especifica que una propiedad debe heredar su valor de su elemento principal. 
    Es por eso que se le coloca, para que tenga el color del padre #333333
    */
}

.destaques__titulo{
    color: #fdfdfdfd;
    background: rgb(0, 0,0,0.5);    /* El 0.5 Es la opacidad */
    width: 100%;
    text-align: center;
    padding: .6rem;
}

.box{
    align-items: flex-end;
    display: flex;
    justify-content: center;
}